body{
    background-color: rgb(181, 241, 164);
}
div{
    text-align: center;
    width:40%;
    margin-left:auto;
    margin-right: auto;
    padding-top: 10px;
    background-color: rgb(213, 169, 169);
    opacity: 0.9;
    border: 2px solid blue;
    border-radius: 10px;
    
}

div h3,h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    display: table;
    margin: 0 auto;
}
li{
    line-height: 30px;
    padding-right: 40px;
    font-size: 20px;
    font-family: sans-serif;
}
div button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
    margin-right: 10px;
    height: 30px;
    width: 12vh;
    border: 1px solid green;
    background-color: azure;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
}